CanFestival/*
MBot.CanOpen*
MBot.RoboCan*
*.o
Toolchains/bb*
*.exe
.metadata/*
.metadata
Krtek/test/*.dll
Krtek/test/*.exe
.metadata/*
*.dll
*.so
*Debug*
*Release*
*.sln
*.suo
*.user
*.filters
*.sdf
VS*
*bin/*
*.a
*.d
*.mk
*.obj
*.pdb
*.ilk
*.lib
*.exp
*.vcxproj
*.vcproj
*.vmsbuild
